@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Cormorant Upright", serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
